body{
    background: black;
  }
  .card {
    overflow: hidden;
    min-height: 400px;
    color:black;
  }
.delete {
    background: white;
    text-transform: lowercase;
    transition: 0.5s ease-in-out;
  }
  .delete:hover {
    background: #6610f2;
  }
  .btn-delete:hover {
    color:red;
  }